<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
   <h1>Todo List</h1>
    <form id="new-task-form" action="/add_task" method="POST">
        <input id="new-task-input" type="text" name="task_name" placeholder="Enter task">
        <button id="new-task-submit"  type="submit">Add Task</button>
    </form>
    <ul id="tasks">
        {% for task in tasks %}
            <li id="task-{{ task[0] }}">
                <div class="content">
                    <span>{{ task[1] }}</span>
                    <div class="button-group">
                        <button class="edit" data-task-id="{{ task[0] }}">Edit</button>
                        <form action="/delete_task/{{ task[0] }}" method="POST">
                            <button id="Delete" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
